<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part" style="height: 64px;">
            <!-- Logo -->
            <a class="logo" href="#">
                <!-- Logo icon image, you can use font-icon also --><b>
                <!--This is dark logo icon--><img src="assets/theme/plugins/images/admin-logo.png" alt="home" class="dark-logo"><!--This is light logo icon--><img src="assets/theme/plugins/images/admin-logo-dark.png" alt="home" class="light-logo">
            </b>
                <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text<img src="assets/theme/plugins/images/admin-text.png" alt="home" class="dark-logo" />--><!--This is light logo text<img src="" alt="home" class="light-logo" />--> <font color="black">START UP LOGO</font>
                     </span> </a>
        </div>
        <!-- /Logo -->
        <!-- Search input and Toggle icon -->
        <ul class="nav navbar-top-links navbar-left">
            <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu" style="font-size: 23px;"></i></a></li>
            <li><a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-share-square" style="font-size: 24px;"></i> </a></li>
            <li class="dropdown">


                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"> <i class="fa fa-envelope" style="font-size: 27px;"></i>
                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                </a>
                <ul class="dropdown-menu mailbox animated bounceInDown">
                    <li>
                        <div class="drop-title">4 Mesajınız var</div>
                    </li>
                    <li>
                        <div class="message-center">
                            <a href="#">
                                <div class="user-img"> <img src="assets/theme/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Ayberk</h5> <span class="mail-desc">Selam</span> <span class="time">9:30 AM</span> </div>
                            </a>
                            <a href="#">
                                <div class="user-img"> <img src="assets/theme/plugins/images/users/sonu.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Kulanıcı</h5> <span class="mail-desc">Hey</span> <span class="time">9:10 AM</span> </div>
                            </a>
                            <a href="#">
                                <div class="user-img"> <img src="assets/theme/plugins/images/users/arijit.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Diğer Kullanıcı</h5> <span class="mail-desc">Start UP</span> <span class="time">9:08 AM</span> </div>
                            </a>
                            <a href="#">
                                <div class="user-img"> <img src="assets/theme/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Start Up</h5> <span class="mail-desc">Cevap Verir misin?</span> <span class="time">9:02 AM</span> </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="text-center" href="javascript:void(0);"> <strong>Tüm Bildirimleri Görüntüle</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- .Task dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"> <i class="fa fa-home" style="font-size: 26px;"></i>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Gelen Kutusu</strong> <span class="pull-right text-muted">40% Doldu</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Doldu (success)</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Göderilen Kutusu</strong> <span class="pull-right text-muted">20% Doldu</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> <span class="sr-only">20% Doldu</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>CC Mail</strong> <span class="pull-right text-muted">60% Oranla</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Oranla (warning)</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Silenen Kutusu</strong> <span class="pull-right text-muted">80% Mail</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Kısım (danger)</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#"> <strong>Maillere Git</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right active">
            <li class="in">
                <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                    <input type="text" placeholder="Arayınız..." class="form-control"> <a href="" class="active"><i class="fa fa-search"></i></a> </form>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="assets/theme/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Start Up</b><span class="caret"></span> </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li class="active">
                        <div class="dw-user-box in">
                            <div class="u-img"><img src="assets/theme/plugins/images/users/varun.jpg" alt="user"></div>
                            <div class="u-text">
                                <h4>Start Up <i class="fa fa-truck" style="margin:3px"></i>(Nakliyeci)</h4>
                                <p class="text-muted">{{userData.email}} <br><i class="fa fa-book" style="margin:3px"></i>(Muhasebeci) &amp; <i class="fa fa-briefcase" style="margin:3px"></i> (Yönetici) &amp; <i class="fa fa-user" style="margin:3px"></i> (Müşteri) &amp; <i class="fa fa-shield" style="margin:3px"></i>(Sigortacı) &amp; <i class="fa fa-industry" style="margin:3px"></i> (Tedarikçi) &amp; <i class="fa fa-exchange" style="margin:3px"></i>(Gümrük Müşaviri) </p><a href="index.html" class="btn btn-rounded btn-danger btn-sm active">Profile Git</a></div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-user"></i> Profil Bilgileri</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> İş Emirleri</a></li>
                    <li><a href="#"><i class="ti-email"></i> Mesajlar</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Hesap Ayarları</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <div class="language-switch-area ">
                            <a (click)="changeLang('de')">
                                <span [class.language-icon-current]="currentLang == 'de'" title="Deutsch"><i class="famfamfam-flags de" aria-label="Deutsch"></i></span></a>

                            <a (click)="changeLang('en')"><span  [class.language-icon-current]="currentLang == 'en'" title="English">
                <i class="famfamfam-flags us" aria-label="English"></i></span></a>

                            <a  (click)="changeLang('tr')"><span [class.language-icon-current]="currentLang == 'tr'" title="Türkçe"><i class="famfamfam-flags tr" aria-label="Türkçe"></i></span></a>

                            <a  (click)="changeLang('es')"><span [class.language-icon-current]="currentLang == 'es'" title="Español (Spanish)"><i class="famfamfam-flags es" aria-label="Español (Spanish)"></i></span></a>

                            <a  (click)="changeLang('fr')"><span [class.language-icon-current]="currentLang == 'fr'" title="Français"><i class="famfamfam-flags fr" aria-label="Français"></i></span></a>

                            <a  (click)="changeLang('it')"><span [class.language-icon-current]="currentLang == 'it'" title="Italiano"><i class="famfamfam-flags it" aria-label="Italiano"></i></span></a>

                            <a  (click)="changeLang('ru')"><span [class.language-icon-current]="currentLang == 'ru'" title="Pусский"><i class="famfamfam-flags ru" aria-label="Pусский"></i></span></a>

                            <a  (click)="changeLang('ar')"><span [class.language-icon-current]="currentLang == 'ar'" title="العربية"><i class="famfamfam-flags sa" aria-label="العربية"></i></span></a>

                            <a  (click)="changeLang('zh')"><span [class.language-icon-current]="currentLang == 'zh'" title="简体中文"><i class="famfamfam-flags cn" aria-label="简体中文"></i></span></a>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-power-off"></i> Çıkış</a></li>

                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
